<%= render 'shared/admin_header' %>


<div class="container">
	
	<div class="row admin-holder">
		<div class="col-md-12">
			<!-- style it so it will show up in the middle -->
			<h2>Choose what you want to manage</h2>
		</div>
	</div>

	<div class="row">
		
		<a href="#" class="items">
			
			<div class="col-md-3 control-panel-item">
				<i class="fa fa-picture-o fa-custom" ></i></br>
				<span class="text">Manage Homepage Slider Images</span>
			</div>

		</a>

		<a href="<%= words_main_url %>" class="items">
			
			<div class="col-md-3 control-panel-item">
				<i class="fa fa-file-text fa-custom" ></i></br>
				<span class="text">Manage Words</span>
			</div>

		</a>

		<a href="#" class="items">
			
			<div class="col-md-3 control-panel-item">
				<i class="fa fa-picture-o fa-custom" ></i></br>
				<span class="text">Manage Sidebar Images</span>
			</div>

		</a>

	</div>


</div>