
<%= render 'shared/admin_header' %>


<div class="container">
	

	<div class="row admin-holder">
		<div class="col-md-12">
			<!-- style it so it will show up in the middle -->
			<h2>Welcome to the ICS Engineering Admin Control Panel</h2>
		</div>
	</div>


	<div class="row">
		
		<a href="#" class="items">
			
			<div class="col-md-3 control-panel-item">
				<i class="fa fa-picture-o fa-custom" ></i></br>
				<span class="text">Manage Homepage slider images</span>
			</div>

		</a>

		<a href="#" class="items">
			
			<div class="col-md-3 control-panel-item">
				<i class="fa fa-plus-square-o fa-custom" ></i></br>
				<span class="text">Create new news article</span>
			</div>

		</a>

		<a href="#" class="items">
			
			<div class="col-md-3 control-panel-item">
				<i class="fa fa-pencil-square-o fa-custom" ></i></br>
				<span class="text">Manage news article</span>
			</div>

		</a>

		<a href="#" class="items">
			
			<div class="col-md-3 control-panel-item">
				<i class="fa fa-envelope-o fa-custom" ></i></br>
				<span class="text">Edit static pages info</span>
			</div>

		</a>

		<a href="<%= new_user_path %>" class="items">
			
			<div class="col-md-3 control-panel-item">
				<i class="fa fa-user fa-custom" ></i></br>
				<span class="text">Create new user</span>
			</div>

		</a>

		<a href="<%= users_path %>" class="items">
			
			<div class="col-md-3 control-panel-item">
				<i class="fa fa-users fa-custom" ></i></br>
				<span class="text">Manage users</span>
			</div>

		</a>

	</div>


</div>