<%= javascript_include_tag "ajax_functions" %>

<div class="container log-in-container">


	<div class="row">
		
		<div class="col-md-6 col-md-offset-4 col-sm-8 col-sm-offset-2 col-lg-4 col-lg-offset-4">		
			
			<input type="hidden" id="email_submit_url" value="<%= password_resets_check_email_url %>" />

			<h2>Enter your email address</h2>
			

			<div class="sr-only" role="alert" id="information-message">
				
			</div>

			<div class="form-group has-feedback">
				<label>Email</label>
				<input type="text" id="email" class="form-control" />
				<span class="form-control-feedback"><i id="notification" class='fa'></i></span>
			</div>
			
			<button class="btn btn-primary" id="btn-submit-email">Submit</button>			

		</div>

	</div>


</div>



