
<div class="container">
	
	<div class="row" style="text-align: center">
		<div class="col-md-4">
			<div class="alert alert-success" role="alert">You successfully changed your password</div>

			<a href="<%= static_pages_index_admin_url %>" class="btn btn-primary">
				Admin panel
			</a>
		</div>
	</div>

</div>