<div class="container-fluid header-fluid">
	

	<div class="container header">
		
		<div class="row">
			
			<a href="<%= static_pages_index_admin_url %>" ><i class="fa fa-home"></i></a>

			<ul class="admin-header">
				
				<li class="settings">
					<%= current_user.name + " " + current_user.surname %>
				</li>

				<li class="dropdown">
					<a href="#" class="dropdown-toggle i_header" data-toggle="dropdown" role="button" aria-expanded="false" id="cog">	<i class="fa fa-cog"></i>
					</a>
					<ul class="dropdown-menu admin-menu" role="menu">
						<li>
							<a id="settings" href="<%= edit_user_path(current_user.id) %>">Change password</a>
						</li>								
						<li>
							<a id="logout" href="<%= login_destroy_path %>">Logout</a>
						</li>
					</ul>
				</li>

			</ul>


		</div>

	</div>


</div>