@import "bootstrap-sprockets";
@import "bootstrap";



/* Sign up page START */

.sign-up-form-container{

	padding-top: 20px;
	
	h2{
		text-align: center;
		margin-bottom: 40px;
	}
	
}

#username-notification, #email-notification{

    margin-left: -25px;

}

/* Sign up page END */


/* Index Admin page style START */

div.row > a.items{
	color: #CD5A01;	
}

div.row > a.items:hover{
	color: #FFFFFF;
}

div.control-panel-item {

    background-color: #ffffff;
    border: 1px solid;    
    border-radius: 35px;
    
    text-align: center;
    
    height: 250px;
    padding-top: 30px;

    //specifies a margin in percent of the width of the containing element.
    margin-left: 4%;
    margin-right: 50px; 
    margin-bottom: 60px;

}

div.control-panel-item:hover {
    background-color: #CD5A01;
}

.fa-custom {
    font-size: 10em !important;
}

/* Index Admin page style END */


/* Manage users style START */

div.admin-holder {
    text-align: center;
    margin-bottom: 20px;
}

div.words-separate{
    text-align: center;    
}



/* Manage users style END */


/* Index admin page header START */

.header-fluid{
    background-color: #CD5A01;
    height: 29px;
}

.header{
    text-align: right;    
    font-size: 18px;
}


.header > .row > a{
    color: #ffffff;
}

.header > .row > a:hover{
    color: #331400;
}

.admin-header{    
    list-style: none;
    display: inline;
    .settings{
        margin-right: 5px;        
        color: #ffffff;
    }
}

.admin-header > li{
    display: inline;
}

.admin-header > .dropdown > a{
    color: #ffffff;
}

.admin-header > .dropdown > a:hover{
    color: #331400;
}

.admin-menu{
    left: -73px;
    background-color: #ffffff;
}

.admin-menu > li > a{
    color: #CD5A01;
}

.admin-menu > li > a:hover{
    background-color: #CD5A01;
    color: #ffffff;
    border-left: solid 2px;
    border-right: solid 2px;
    border-color: #331400;
}


/* Index admin page header END */


/* Change password and log in page START */

.log-in-container{
    padding-top: 100px;

    h2{
        text-align: center;
        margin-bottom: 40px;
    }
}


.form-not-visible{
    display: none;
}


/* Change password and log in page END */


/* Words page style START */

.words-container{    
    margin-top: 45px;
    padding-right: 55px;
    height: 300px;
    overflow: auto;

}

.word-list{
    text-align: center;
    list-style: none;
}

.word-buttons{

}

textarea#new-words{    
    height: 100px;
    resize: none;
}

/* Words page style END */